<% content_for :sitemap do %><span class="current">403</span><% end %>
<div id="error-page" class="box">
  <h1>403 - Forbidden</h1>
  <p>
    抱歉，你没有做此操作的权限，如有问题，请到社区发帖询问。
  </p>
  <p>
    <a href="/" class="btn">返回首页</a>
  </p>
</div>