<div id="error-page" class="panel">
  <div class="panel-body">
    <h1>404 - Not found</h1>
      <p>Oops! 似乎没有这个页面哦！回去看看别的吧。</p>
      <p>对不起，没有这么个页面给你查看。</p>
      <ul>
        <li>是不是地址错误了？</li>
        <li>或者这个页面被删除了!</li>
      </ul>
    <div>
  <p>
    <a href="/" class="btn">返回首页</a>
  </p>
</div>
