<div id="error-page" class="panel">
  <div class="panel-body">
    <h1>500 - Internal Server Error</h1>
    <p>
      对不起，由于某些原因导致功能异常，请稍后再试。
    </p>
  </div>
  <% image_tag('errors/500.png') %>
  <p>
    <a href="/" class="btn">返回首页</a>
  </p>
</div>
